.inline-form {
    display: table;
    width: 100%;

    & > .cell {
        display: table-cell;
        vertical-align: top;

        & > .btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: 100%;
            height: 50px;
            font-size: 18px;
            line-height: 28px;
            padding: 10px 15px;
            letter-spacing: .03em;

            @media #{$xs-max} {
                height: 40px;
                font-size: 14px;
                line-height: 18px;
                padding: 10px;
            }
        }

        & > input {
            width: 100%;
            height: 50px;
            border-radius: 5px 0 0 5px;
            border: none;
            background: #fff;
            outline: none !important;
            padding: 10px 35px;
            font-size: 16px;
            line-height: 30px;
            font-family: $default-font;
            font-weight: 600;

            @media #{$xs-max} {
                height: 40px;
                font-size: 14px;
                line-height: 18px;
                padding-right: 15px;
            }
        }
    }

    & > .cell-btn {
        width: 154px;
        position: relative;
        z-index: 101;

        @media #{$xs-max} {
            width: 100px;
        }
    }

    & > .cell-input {
        position: relative;

        &:before {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translate(0,-50%);
            display: inline-block;
            font: normal normal normal 20px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f041';
            color: #acacac;
        }
    }
}

.pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 100;
    border-radius: 0;
    border-top: 5px solid #fff;
    overflow: hidden;
    margin-top: -5px;
    display: inline-block;
    max-width: vw;
    box-shadow: 0 5px 10px rgba(#000,.25);
    width: calc(100%-40px) !important;

    @media #{$sm-min} {
        width: auto !important;
        max-width: 750px;
    }
}

.pac-item {
    cursor: pointer;
    padding: 10px 30px 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px;
    text-align: left;
    border-top: 1px solid #d7d7d7;
    font-size: 16px;
    color: #252525;

    @media #{$xs-max} {
        font-size: 14px;
        padding: 5px 15px;
        line-height: 20px;
    }
}

.pac-item:hover {
    background-color: rgba($brand-color-2, .5);
}

.pac-item-selected, .pac-item-selected:hover {
    background-color: rgba($brand-color-2, .5);
}

.pac-matched {
    font-weight: 600;
    color: $brand-color-2;
}

.pac-item-query {
    font-size: 1em;
    padding-right: 3px;
    color: #252525;
}

.pac-icon {
    display: none;
}

.pac-placeholder {
    color: gray
}

.custom-prediction-label {
    font-style: italic;
}