.btn {
	transition: all .25s;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(#000, .2);
	@include button-size(3px, 15px, 14px, 25px, 5px);
}

.btn-md {
	@include button-size(5px, 12px, 16px, 24px, 5px);
}

.btn-lg {
	@include button-size(7px, 12px, 16px, 24px, 5px);
}

.btn-brand-1 {
	@include button-variant(#fff, $brand-color-1, transparent);
}

.btn-brand-1-dark {
	@include button-variant(#fff, $brand-color-1-dark, transparent);
	text-shadow: none;
}

.btn-brand-2 {
	@include button-variant(#fff, $brand-color-2, transparent);
}

.btn-brand-2-transparent {
	@include button-variant($brand-color-2, transparent, $brand-color-2);
	text-shadow: none;
}

.btn-brand-1-light-transparent {
	@include button-variant($brand-color-1-light, transparent, $brand-color-1-light);
	font-family: $open-sans;
	text-shadow: none;

	&:hover {
		@include button-variant(#fff, $brand-color-1-light, $brand-color-1-light);
	}
}

.btn-grey-transparent {
	@include button-variant(#005591, transparent, rgba(#000, .1));
	font-family: $open-sans;
	font-weight: 600;
	text-shadow: none;

	&:hover {
		@include button-variant(#005591, rgba(#000, .1), rgba(#000, .1));
	}
}