.crumbs {
	@extend .list-inline;
	margin: 10px 0;
	line-height: 22px;
	color: $brand-color-1-light;
	font-weight: 600;
	font-size: 16px;
	font-family: $open-sans;
	letter-spacing: -.015em;

	@media #{$xs-max} {
		font-size: 14px;
	}

	& > li {
		padding: 0;

		&:not(:last-child) {

			&:after {
				content: '>';
				display: inline-block;
				margin: 0 8px 0 13px;
				color: #a1a1a1;
			}
		}

		& > a  {
			color: #a1a1a1;
			text-decoration: none;

			&:hover,
			&.current {
				color: $brand-color-1-light;
			}
		}


	}
}