@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/breeserif/breeserif-regular.woff2') format('woff2'),
         url('../fonts/breeserif/breeserif-regular.woff') format('woff'),
         url('../fonts/breeserif/breeserif-regular.ttf') format('truetype'),
         url('../fonts/breeserif/breeserif-regular.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
