#footer {
	position: relative;
	background-color: #fff;
	box-shadow: 0 -1px 0 rgba(#000, .07);
	font-weight: 600;
	z-index: 100;

	@media #{$md-min} {
		height: 85px;
	}

	@media #{$sm-max} {
		padding: 15px 0;
	}

	.footer-holder {

		@media #{$md-min} {
			height: 85px;
			display: table;
			width: 100%;
		}

		.cell {
			position: relative;

			@media #{$md-min} {
				display: table-cell;
				vertical-align: middle;
			}

			@media #{$sm-max} {
				text-align: center;
			}
		}

		.cell-right {
			@media #{$md-min} {
				text-align: right;
			}
		}
	}

	.menu {
		margin: 0;
	}
}