.form-group {
    margin-bottom: 12px;
}

.form-control {
    height: 42px;
    padding: 7px 15px 9px;
    font-size: 15px;
    line-height: 24px;
    color: rgba(#111, .7);
    background-color: #f4f4f4;
    border: 1px solid #dadada;
    border-radius: 5px;
    @include box-shadow(none);
    @include placeholder(rgba(#111, .7));
    font-weight: 600;
}

.ng-invalid:not(.ng-untouched),
.ng-submitted .ng-invalid + label:before {
    border-color: $red !important;
}

.caret {
    display: inline-block;
    @include square(10px);
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: #142241;
    border-bottom-color: #142241;
    border-radius: 3px;
    transform: rotate(45deg);
    opacity: .5;
    pointer-events: none;
}

.dropdown.ui-select-bootstrap {

    & > .ui-select-match {

        & > .btn {
            text-shadow: none;
            @extend .form-control;
            padding: 8px 15px;
        }
    }

    .text-muted {
        color: rgba(#111, .7);
    }

    .ui-select-toggle {

        & > .caret {
            position: absolute;
            top: 50%;
            right: 22px;
            margin-top: -5px;
        }
    }

    &.open {

        .ui-select-toggle {

            & > .caret {
                transform: rotate(-135deg);
                margin-top: 0;
            }
        }
    }

    .ui-select-choices-row {

        &.active > span {
            background-color: $brand-color-1-dark;
            color: #fff;
        }

        & > span:hover {
            background-color: rgba($brand-color-1-dark, .5);
            color: #fff;
        }
    }

    .ui-select-dropdown {
        background-color: #f4f4f4;
        border: 1px solid #dadada;
    }
}

.datepicker-holder {
    position: relative;

    &:after {
        @extend .caret;
        content: '';
        position: absolute;
        top: 50%;
        right: 22px;
        margin-top: -5px;position: absolute;
        top: 50%;
        right: 22px;
        margin-top: -5px;
    }

    &.open:after {
        transform: rotate(-135deg);
        margin-top: 0;
    }
}

.uib-datepicker-popup.dropdown-menu {
    padding: 4px;
    font-size: 15px;
    line-height: 24px;
    color: rgba(#111, .7);
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-weight: 600;

    .btn {
        padding: 3px 9px;
        box-shadow: none !important;

        .text-info {
            color: inherit;
        }
    }

    .btn-default.active,
    .btn-default.active.focus, 
    .btn-default.active:focus, 
    .btn-default.active:hover, 
    .btn-default:active.focus, 
    .btn-default:active:focus, 
    .btn-default:active:hover {
        color: #fff;
        background-color: $brand-color-1;
        border-color: $brand-color-1-dark;
    }

    td,
    th {
        padding: 2px;
    }

    &  * {
        box-shadow: none !important;
        outline: none !important;
    }
}

.accept-checkbox {
    position: relative;
    font-weight: 600;
    color: rgba(#111, .7);
    margin: 0;
    display: table;
    font-size: 15px;
    line-height: 20px;

    a {
        color: inherit;
    }

    & > .cell {
        display: table-cell;
        vertical-align: middle;

        &:not(:first-child) {
            padding-left: 10px;
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    input:checked + label {

        &:before {
            content: '✔';
        }
    }

    label {
        display: inline-block;
        vertical-align: top;
        margin: 0;

        &:before {
            @extend .form-control;
            padding: 0;
            line-height: 40px;
            width: 42px;
            cursor: pointer;
            content: '';
            font-size: 24px;
            text-align: center;
        }
    }
}