#header {
	background-color: #fff;
	position: relative;
	z-index: 1001;
	box-shadow: 0 1px 0 rgba(#000, .07);

	@media #{$sm-min} {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}

	.site-logo {
		float: left;

		img {
			display: block;
			max-height: 100%;
		}
	}

	.header-holder {

		@media #{$sm-min} {
			height: 85px;
			display: table;
			width: 100%;
		}

		.cell {
			position: relative;

			@media #{$sm-min} {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.cell-logo {
			overflow: hidden;
			background-color: #fff;
			z-index: 2;

			@media #{$sm-min} {
				width: 25%;
			}

			@media #{$xs-max} {
				padding: 15px 0;
			}
		}

		.cell-menu {
			@media #{$xs-max} {
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
			}
		}
	}

	.main-navigation {
		@extend %clear-list;
		font-family: $font-heading;
		text-transform: uppercase;
		letter-spacing: .015em;
		margin-right: -15px;

		@media #{$sm-min} {
			display: block !important;
			text-align: right;
		}

		@media #{$sm-max} {
			margin-right: -10px;
			font-size: 14px;
		}

		@media #{$xs-max} {
			margin-right: 0;
			background-color: #fff;
			border-top: 1px solid rgba(#000, .07);
			border-bottom: 1px solid rgba(#000, .07);
		}

		& > li {

			@media #{$sm-min} {
				padding: 0 10px;
				display: inline-block;
				vertical-align: top;
			}

			@media #{$md-min} {
				padding: 0 15px 0 20px;
			}

			&.active a,
			a:hover {
				@media #{$sm-min} {
					box-shadow: 0 1px 0 $brand-color-1;
				}

				@media #{$xs-max} {
					color: #fff;
					background-color: $brand-color-1-dark;
				}
			}

			a {
				color: $brand-color-1;
				text-decoration: none;
				transition: all .25s;

				@media #{$xs-max} {
					display: block;
					padding: 5px $container_offset_x;
				}
			}
		}
	}
}

$menu-trigger-width: 30px;
$menu-trigger-height: 24px;
$menu-trigger-color: $brand-color-1-dark;

.bt-menu-trigger {
	@include size($menu-trigger-width,$menu-trigger-height);
    margin-top: -$menu-trigger-height/2;
    transition: all .25s;
    cursor: pointer;
    z-index: 10001;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;

    span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: $menu-trigger-color;
        font-size: 0px;
        @include user-select(none);
        @include transition(all .25s);

        &:before, &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $menu-trigger-color;
            content: '';
            @include transition(all .25s);
        }

        &:before {
        	@include translate(0, -250%);
        }

        &:after {
            @include translate(0, 250%);
        }
    }
}

.menu-active .bt-menu-trigger span {
    background-color: transparent;

    &:before {
        transform: translateY(0) rotate(45deg);
    }

    &:after {
        transform: translateY(0) rotate(-45deg);
    }
}