.hero {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: 400px;
    text-align: center;

    @media #{$sm-max} {
        height: 300px;
    }

    @media #{$xs-max} {
        height: 180px;
    }

    &.big {
        height: 515px;

        @media #{$sm-max} {
            height: 350px;
        }

        @media #{$xs-max} {
            height: 200px;
        }
    }

    & > .cell {
        display: table-cell;
        vertical-align: middle;
        padding: 30px 0;
    }

    .title {
        color: #fefeff;
        font-weight: 400;
        font-size: 39.4px;
        line-height: 28px;
        margin: 0 0 10px;
        font-family: $font-heading;
        letter-spacing: .013em;
        text-shadow: 0 2px rgba(#000, .4);

        @media #{$xs-max} {
            font-size: 28px;
        }

        &:not(:last-child) {
            margin-bottom: 1em;

            @media #{$xs-max} {
                margin-bottom: .5em;
            }
        }
    }

    .autocomplate-search {

        @media #{$sm-min} {
            max-width: 80%;
            margin: auto;
        }
    }
}

.hero-search {
    height: 515px;
}