html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	font-family: $default-font;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	font-style: $default-font-style;
	line-height: $default-line-height;
	color: $default-text-color;
	background-color: $body-bg;
	min-width: 320px;
}

.layout {
	position: relative;
	overflow: hidden;
	min-height: 100%;

	&.disable-scroll {
		overflow: hidden;
		height: 100%;
	}
	
	@media #{$sm-min} {
		padding-top: 85px;
	}
}

.container-fluid {
	max-width: 1170px + 2*$container_offset_x;
	padding-left: $container_offset_x;
	padding-right: $container_offset_x;
}

.container-clear-offset {
	padding: 0;
}

a {
	color: $brand-color-1;
}
.angular-google-map,
.angular-google-map-container {
	height: 100%;
	width: 100%;
}

.red {
	color: $red;
}

.link-underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}