.redirect-placeholder {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: table;
	text-align: center;
	
	.cell {
		display: table-cell;
		vertical-align: middle;
		padding: 20px;
	}

	.text {
		font-family: $open-sans;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: #327ab8;
		letter-spacing: -.0.15em;
		margin: 40px 0 100px;

		@media #{$xs-max} {
			margin: 30px 0; 
		}
	}
}

#floatingBarsG{
	position: relative;
	width: 31px;
	height: 38px;
	margin: auto;
}

.blockG {
	position: absolute;
	background-color: #fff;
	width: 5px;
	height: 12px;
	border-radius: 2px;
	transform: scale(0.4);
	animation-name: fadeG;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#rotateG_01{
	left: 0;
	top: 14px;
	animation-delay: 0.45s;
	transform: rotate(-90deg);
}

#rotateG_02{
	left: 4px;
	top: 5px;
	animation-delay: 0.6s;
	transform: rotate(-45deg);
}

#rotateG_03{
	left: 13px;
	top: 1px;
	animation-delay: 0.75s;
	transform: rotate(0deg);
}

#rotateG_04{
	right: 4px;
	top: 5px;
	animation-delay: 0.9s;
	transform: rotate(45deg);
}

#rotateG_05{
	right: 0;
	top: 14px;
	animation-delay: 1.05s;
	transform: rotate(90deg);
}

#rotateG_06{
	right: 4px;
	bottom: 3px;
	animation-delay: 1.2s;
	transform: rotate(135deg);
}

#rotateG_07{
	bottom: 0;
	left: 13px;
	animation-delay: 1.35s;
	transform: rotate(180deg);
}

#rotateG_08{
	left: 4px;
	bottom: 3px;
	animation-delay: 1.5s;
	transform: rotate(-135deg);
}



@keyframes fadeG {
	0% {
		background-color: rgb(117,117,117);
	}

	100% {
		background-color: rgba(255,255,255,0);
	}
}
