%heading {
	line-height: 1;
	font-weight: 600;
	letter-spacing: -.01em;
	font-family: $font-heading;
}

.h2 {
	@extend %heading;
	font-size: 27px;
	letter-spacing: .015em;
}

.h3 {
	@extend %heading;
	font-size: 22px;
}

.brand-color-1 {
	color: $brand-color-1;
}

.brand-color-2 {
	color: $brand-color-2;
}

.brand-color-1-dark {
	color: $brand-color-1-dark !important;
}