//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$arial: Arial, sans-serif;
$breeserif: 'Bree Serif';
$source-sans-pro: 'Source Sans Pro';
$open-sans: 'Open Sans';
$font-heading: $breeserif;


//Colors
$black: #000;
$white: #fff;
$blue: #447ab8;
$blue_dark: #1c548f;
$blue_light: #317bb5;
$green: #8dba22;
$red: #d10909;

$brand-color-1: $blue;
$brand-color-1-dark: $blue_dark;
$brand-color-1-light: $blue_light;
$brand-color-2: $green;

//Default settings
$default-font: $source-sans-pro, sans-serif;
$default-font-size: 16px;
$default-line-height: 1.375;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: #252525;
$text-color-inverse: $white;

$body-bg: #6b767c;

$lg-min: 'screen and (min-width: #{$screen-lg})';
$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';
$xm-max: 'screen and (max-width: 479px)';
$xm-min: 'screen and (min-width: 480px)';

//Layout
$container_offset_x: 20px;