<div class="apply-form-succes-modal fade-in" ng-show="showSuccesModal">
	<div class="bg" ng-click="showSuccesModal = false;"></div>
	<div class="content">
		<div class="container-fluid">
			<div class="holder">
				<div class="w1">
					<div class="w2">
						<div class="card">
                            <div class="main-info clearfix">
                                <div class="visual" ng-if="currentParking.image">
                                    <img ng-src="{{currentParking.image}}" alt="{{currentParking.title}}<">
                                </div>
                                <div class="info">
                                    <h2 class="title" title="{{currentParking.title}}">{{currentParking.title}}</h2>
                                    <div class="address-row">
                                        <div class="cell">
                                            <address class="address">{{currentParking.addressRow1}}<br>{{currentParking.addressRow2}}</address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="w2 apply-text">
						Application Successful Message
					</div>
				</div>

				<div class="bottom-text">
					Search more locations. <a href="#" class="link-underline">Contact for support</a>
				</div>
			</div>
		</div>
	</div>
</div>