<!-- Footer -->
<footer id="footer">
    <div class="container-fluid">
        <div class="footer-holder">
            <div class="cell cell-left">
                <ul class="menu list-inline">
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Find parking</a></li>
                </ul>
            </div>
            <div class="cell cell-right">
                <div class="copyright">© 2016 Citizens Parking</div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->