<!-- Header -->
<header id="header" ng-class="{'menu-active': isMenuOpen}">
	<div class="container-fluid">
		<div class="header-holder">
			<div class="cell cell-logo">
				<a class="site-logo" href="/">
					<img src="images/citizens-parking-header-logo.png" alt="Citizens Parking">
				</a>
				<a href="#" class="menu-btn bt-menu-trigger visible-xs" ng-click="toggleNav();"><span>Menu</span></a>
			</div>
			<div class="cell cell-menu">
				<ul class="main-navigation slide-down" ng-show="isMenuOpen">
					<li><a href="#">Brands</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Management</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Find parking</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- end Header -->