<!-- Head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Citizens Parking</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css">
</head>
<!-- end Head -->