<!-- Redirect placeholder -->
<div class="redirect-placeholder">
	<div class="cell">
		<div id="floatingBarsG">
			<div class="blockG" id="rotateG_01"></div>
			<div class="blockG" id="rotateG_02"></div>
			<div class="blockG" id="rotateG_03"></div>
			<div class="blockG" id="rotateG_04"></div>
			<div class="blockG" id="rotateG_05"></div>
			<div class="blockG" id="rotateG_06"></div>
			<div class="blockG" id="rotateG_07"></div>
			<div class="blockG" id="rotateG_08"></div>
		</div>
		<div class="text">Redirect Notification Headline</div>
		<img src="images/citizens-parking-grey.png" alt="Citizens Parking">
	</div>
</div>
<!-- end Redirect placeholder -->