.apply-section {
	background-color: #fff;
	padding: 15px 0 30px;

	.columns {
		position: relative;

		.btn-holder {
			@media #{$xs-max} {
				text-align: center;
			}
		}

		.column-left {
			margin-bottom: 35px;

			@media #{$md-min} {
				float: left;
				width: 40%;
			}

			.title {
				@extend .h2;
				margin: 44px 0 36px;

				@media #{$xs-max} {
					margin: 16px 0;
				}
			}
		}

		.column-right {

			@media #{$md-min} {
				float: right;
				width: 50%;
			}

			.card {
				margin: 30px 0;

				@media #{$md-min} {
					margin-top: -84px;
				}

				.additional-info {
					padding-bottom: 28px;

					dl {
						dd {
							padding-bottom: 0;
						}
					}
				}
			}

			.btn {
				display: block;
				width: 225px;
				letter-spacing: -.025em;

				@media #{$xs-max} {
					margin-left: auto;
					margin-right: auto;
				}

				& + .btn {
					margin-top: 26px;
				}
			}
		}
	}
}

.apply-form {

	.btn-submit {
		font-size: 17px;
	}
}

.apply-form-succes-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: table;

	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .92);
		z-index: 2;
	}

	.content {
		display: table-cell;
		vertical-align: middle;
		padding: 20px 5px;
	}

	.holder {
		margin: auto;

		@media #{$lg-min} {
			max-width: 80%;
		}

		.w1 {

			@media #{$md-min} {
				display: table;
				width: 100%;
				table-layout: fixed;
			}

			.w2 {
				padding: 0 15px;

				@media #{$md-min} {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}

	.card {
		@media #{$sm-max} {
			max-width: 400px;
			margin: auto;
		}
	}

	.apply-text {
		text-align: center;
		font-size: 20px;
		line-height: 1.2;
		font-family: $open-sans;
		font-weight: 600;
		color: #fff;
		letter-spacing: -.015em;
		margin: 30px 0;
		position: relative;
		z-index: 3;
	}

	.bottom-text {
		text-align: center;
		font-size: 15.5px;
		line-height: 22px;
		font-family: $open-sans;
		font-weight: 600;
		color: #fff;
		opacity: .3;
		margin-top: 90px;
		position: relative;
		z-index: 3;

		@media #{$sm-max} {
			margin-top: 30px;
		}

		a {
			color: inherit;
		}
	}
}