.layout-list {
    .pac-container {
        border-top: none;
        margin-top: 0;

        .pac-item {
            padding: 10px 15px;
            font-size: 15px;

            @media #{$xs-max} {
                font-size: 14px;
            }
        }
    }
}

.list-page-columns {

    .container-clear-offset {
        @media #{$sm-max} {
            height: auto !important;
        }
    }

    .column {

        @media #{$md-min} {
            height: 100%;
            float: left;
            width: 50%;
        }
    }

    .map-column {
        @media #{$sm-max} {
            height: 400px;
        }

        position: relative;

        .map-search {
            position: absolute;
            left: 0;
            padding: 0 $container_offset_x;
            top: 28px;
            z-index: 10;
            width: 190px + 2*$container_offset_x;

            &:before {
                position: absolute;
                right: 15px + $container_offset_x;
                top: 50%;
                transform: translate(0,-50%);
                display: inline-block;
                font: normal normal normal 16px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\f002';
                color: rgba(#252525, .5);
            }

            @media #{$xs-max} {
                width: 100%;
            }

            & > input {
                height: 40px;
                border-radius: 5px;
                border: 1px solid #a9a9a9;
                background: #fff;
                width: 100%;
                font-family: $default-font;
                font-weight: 600;
                font-size: 15px;
                line-height: 30px;
                padding: 3px 36px 5px 14px;

                @include placeholder(rgba(#252525, .5));
            }
        }
    }

    .search-result-header {
        display: table-header-group;

        .cell {
            background-color: #1f1f1f;
            padding: 25px 15px 23px 30px;

            @media #{$sm-max} {
                padding: 15px $container_offset_x;
            }
        }

        .address {
            font-size: 27px;
            line-height: 1;
            color: #fefefe;
            font-weight: 400;
            letter-spacing: -.01em;
            margin: 0 0 2px;
        }

        .count {
            font-size: 14px;
            line-height: 22px;
            color: rgba(#fff, .3);
        }

        .dropdown {
            margin-top: 5px;
        }
    }

    .search-result-holder {
        display: table;
        width: 100%;

        @media #{$md-min} {
            height: 100%;
        }
    }
}

.search-result-list {
    @extend %clear-list;
    background-color: #fff;

    @media #{$md-min} {
        height: 100%;
        overflow: auto;
    }

    & > li {
        @extend .clearfix;
        border-bottom: 1px solid #ccc;
    }
}

.card {
    background-color: #fff;
    transition: all .25s;
    @extend .clearfix;

    &.shadow {
        box-shadow: 0 5px 20px rgba(#000, .2);
    }

    .visual {
        position: relative;
        overflow: hidden;

        @media #{$xm-min} {
            float: left;
            width: 180px;
            height: 150px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &.open {
        background-color: #f4f4f4;
        border-bottom-color: transparent;

        .main-info {
            background-color: #f4f4f4;
        }

        .toggle-expander {
            color: #005591;

            .more {
                display: none;
            }

            .less {
                display: block;
            }
        }
    }

    .main-info {
        position: relative;
        background-color: #fff;
        z-index: 2;
        transition: all .25s;
    }

    .additional-info {
        padding: 15px 20px;
        background-color: #f4f4f4;

        @media #{$sm-max} {
            padding: 15px $container_offset_x;
        }

        .share-link {
            color: $green;
            font-weight: 600;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 2px 20px 6px 0;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

            .fa {
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translate(0,-50%);
            }
        }

        .links {
            @extend %clear-list;
            font-size: 0;
            font-weight: 600;
            color: #005591;

            & > li {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                font-size: 12px;
                line-height: 16px;

                &:not(:last-child):after {
                    content: '|';
                    display: inline-block;
                    margin: 0 5px;
                }
            }

            a {
                color: inherit;
            }
        }

        dl {
            margin: 0;
            padding: 0;

            dt {
                font-weight: 600;
                float: left;
                clear: both;
                color: #327ab8;
                margin: 0 4px 0 0;

                &.default-color {
                    color: #171717;
                }
            }

            dd {
                font-weight: 600;
                overflow: hidden;
                padding-bottom: 2px;
                color: #171717;
            }
        }
    }

    .info {
        overflow: hidden;
        padding: 18px 15px 18px $container_offset_x;

        @media #{$xm-max} {
            padding: 15px $container_offset_x;
        }

        .title {
            @extend .h3;
            font-family: $default-font;
            margin: 0 0 7px;
            color: #111;

            @media #{$sm-min} {
                @include text-overflow();
            }
        }

        .address {
            font-style: normal;
            font-weight: 600;
            margin: 0;
        }

        .address-row {

            @media #{$lg-min} {
                display: table;
                width: 100%;
                margin-bottom: 16px;
            }

            & > .cell {

                @media #{$lg-min} {
                    display: table-cell;
                    vertical-align: middle;

                    &:not(:first-child) {
                        padding-left: 20px;
                        text-align: right;
                    }
                }
            }

            .btn {
                margin: 4px 0;
            }
        }
        
    }

    .toggle-expander {
        color: $green;
        font-weight: 600;
        letter-spacing: -.015em;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

        .more {
            display: block;
        }

        .less {
            display: none;
        }
    }
}

.markerLabels {
    overflow: visible !important;
}

.p-marker {
    width: 35px;
    height: 35px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: -6px;
        top: -3px;
        background: url(#{$path-img}marker-p.png) no-repeat 0 0;
        display: block;
        width: 49px;
        height: 49px;
    }

    &.open {

        .hint {
            opacity: 1;
            visibility: visible;
        }
    }

    .hint {
        position: absolute;
        left: 50%;
        bottom: 100%;
        margin-bottom: 17px;
        transform: translate(-50%,0);
        background-color: #1f1f1f;
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        width: 188px;
        line-height: 22px;
        padding: 12px;
        letter-spacing: -.02em;
        box-shadow: 0 5px 10px rgba(#000,.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -9px;
            background: #1f1f1f;
            display: block;
            width: 16px;
            height: 16px;
            transform: rotate(45deg);
            margin-left: -8px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }

        strong {
            font-weight: 600;
            color: #fff;
            font-size: 15px;
            display: block;
        }

        a {
            font-size: 13px;
            color: $green;
        }
    }
}

.dropdown {

    .btn-dropdown {
        display: block;
        cursor: pointer;
        width: 100%;
        background-color: #363636;
        border: 1px solid #2d2d2d;
        height: 40px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 22px;
        color: rgba(#fff, .5);
        font-weight: 600;
        padding: 8px 15px;
        text-align: left;
    }

    .dropdown-menu {
        min-width: 160px;
        width: 100%;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        line-height: 22px;
        background-color: #363636;
        border: 1px solid #2d2d2d;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);

        & > li {

            & > a {
                padding: 3px 15px;
                line-height: inherit;
                color: rgba(#fff, .5);
                cursor: pointer;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}