.search-promo {
	background-color: #fff;
	padding: 15px 0 87px;

	@media #{$xs-max} {
		padding-bottom: 40px;
	}

	.title {
		@extend .h2;
		margin: 0 0 .5em;
		letter-spacing: .015em;
	}

	.description {
		font-size: 15.6px;
		line-height: 22px;
		font-weight: 600;
		max-width: 440px;
		margin: 1.2em auto 2em;
	}

	.crumbs {
		margin-bottom: 40px;

		@media #{$xs-max} {
			margin-bottom: 20px;
		}
	}
}

.brands-promo {
	background: url(#{$path-img}brands-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
	padding: 40px 0;

	@media #{$xs-max} {
		padding: 20px 0;
	}

	.image {
		display: inline-block;
		vertical-align: middle;
		margin: 20px 50px;

		img {
			max-width: 100%;
		}
	}
}