<!doctype html>
<html class="no-js" lang="" ng-app="app" ng-controller="MainCtrl">

//= templates/head.html

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="layout" ng-controller="ApplyCtrl" ng-class="{'disable-scroll': showSuccesModal}">

        //= templates/header.html
        <section class="hero" style="background-image: url(images/search-hero.jpg);">
            <div class="cell">
                <div class="container-fluid">
                    <h1 class="title">Apply for Monthly Parking</h1>
                </div>
            </div>
        </section>

        <section class="apply-section">
            <div class="container-fluid">
                <div class="columns clearfix">
                    <div class="column-left">
                        <ul class="crumbs">
                            <li><a href="#">Home</a></li>
                            <li><a href="/search">Find Parking</a></li>
                            <li>Apply for Monthly Parking</li>
                        </ul>

                        <h2 class="title brand-color-1-dark">Application</h2>

                        <form class="apply-form" novalidate name="applyForm" ng-submit="submitApplyForm();">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company Name" ng-model="applyForm.companyName" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Account Name" ng-model="applyForm.accountName" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address" ng-model="applyForm.address1" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address" ng-model="applyForm.address2" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="City" ng-model="applyForm.city" />
                            </div>
                            <div class="form-group">
                                <ui-select 
                                    ng-model="applyForm.state"
                                    title="Select state"
                                    search-enabled="false"
                                >
                                    <ui-select-match placeholder="Select state">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in states">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Zip" ng-model="applyForm.zip" ng-maxlength="10" ng-minlength="5" ng-pattern="/^\d+$/" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" ng-model="applyForm.email" />
                            </div>
                            <div class="form-group">
                                <input type="phone" class="form-control" placeholder="Phone" ng-model="applyForm.phone" />
                            </div> 
                            <div class="form-group">
                                <div class="datepicker-holder" ng-class="{'open': datePopup.opened}">
                                     <input 
                                        type="text" 
                                        readonly
                                        class="form-control" 
                                        ng-focus="openDatePopup()"
                                        uib-datepicker-popup="dd MMMM yyyy" 
                                        ng-model="applyForm.date" 
                                        is-open="datePopup.opened" 
                                        datepicker-options="dateOptions" 
                                        placeholder="Date"
                                        show-button-bar="false" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="accept-checkbox">
                                    <div class="cell">
                                        <input id="acceptRules" type="checkbox" ng-model="applyForm.acceptRules" required>
                                        <label class="accept-checkbox" for="acceptRules"></label>
                                    </div>
                                    <div class="cell">
                                        <span class="lbl">I accept the <a href="#" class="link-underline">Rules & Regulations</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-right btn-holder">
                                <button type="submit" class="btn btn-brand-2 btn-lg btn-submit">Apply for Monthly Parking</button>
                            </div>
                        </form>

                    </div>
                    <div class="column-right">
                        <div class="card open shadow">
                            <div class="main-info clearfix">
                                <div class="visual" ng-if="currentParking.image">
                                    <img ng-src="{{currentParking.image}}" alt="{{currentParking.title}}<">
                                </div>
                                <div class="info">
                                    <h2 class="title" title="{{currentParking.title}}">{{currentParking.title}}</h2>
                                    <div class="address-row">
                                        <div class="cell">
                                            <address class="address">{{currentParking.addressRow1}}<br class="visible-lg">{{currentParking.addressRow2}}</address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <dl>
                                            <dt class="default-color">Operated by:</dt>
                                            <dd>{{currentParking.operated}}</dd>
                                            <dt>Monthly Rate:</dt>
                                            <dd>{{currentParking.mountlyRate}}</dd>
                                            <dt>Max Height:</dt>
                                            <dd>{{currentParking.maxHeight}}</dd>
                                            <dt>Capacity:</dt>
                                            <dd>{{currentParking.capacity}}</dd>
                                            <dt>Distance:</dt>
                                            <dd>{{currentParking.distance}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-6">
                                        <dl>
                                            <dt>Hours / Days: </dt>
                                            <dd>{{currentParking.date}}</dd>
                                            <dt>Covered:</dt>
                                            <dd>
                                                <span ng-if="currentParking.covered">Yes</span>
                                                <span ng-if="!currentParking.covered" class="red">No</span>
                                            </dd>
                                            <dt>Overnight:</dt>
                                            <dd>
                                                <span ng-if="currentParking.overnight">Yes</span>
                                                <span ng-if="!currentParking.overnight" class="red">No</span>
                                            </dd>
                                        </dl>
                                        <a href="#" class="share-link">Save or Share Link <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-holder">
                            <a class="btn btn-lg btn-grey-transparent">Reserve Daily Parking</a>
                            <a class="btn btn-lg btn-grey-transparent">Manage Parking</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        //= templates/footer.html

        //= templates/apply-form-success-modal.html

</div>
    //= templates/foot.html
</body>
</html>
