<!doctype html>
<html class="no-js" lang="" ng-app="app" ng-controller="MainCtrl">

//= templates/head.html

<body class="layout-list">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<div class="layout">

		//= templates/header.html
		<div class="content list-page-columns" ng-controller="SearchResultCtrl">
			<div class="container-fluid container-clear-offset" content-full-height>
				<div class="column map-column">
					<form class="map-search">
						<input type="text" placeholder="Search new location" g-places-autocomplete ng-model="place" />
					</form>
					<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
						<ui-gmap-markers fit="true" models="markers" coords="'self'" icon="'icon'" options="'options'"></ui-gmap-markers>
					</ui-gmap-google-map>
				</div>
				<div class="column list-column">
					<div class="search-result-holder">
						<div class="search-result-header">
							<div class="cell">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="address">Atlanta, GA</h1>
										<div class="count">{{searchResult.length}} Results</div>
									</div>
									<div class="col-sm-4">
										<div class="dropdown" uib-dropdown on-toggle="toggled(open)">
											<button class="btn-dropdown" uib-dropdown-toggle>{{selectedView.title || 'View by'}}</button>
											<ul class="dropdown-menu" uib-dropdown-menu>
												<li ng-repeat="option in viewByDropdown">
													<a ng-href ng-click="selectViewType(option);">{{option.title}}</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<ul class="search-result-list">
							<li class="card" ng-repeat="item in searchResult" ng-class="{'open': item.showAdditionalInfo}">
								<div class="main-info clearfix">
									<div class="visual" ng-if="item.image">
										<img ng-src="{{item.image}}" alt="{{item.title}}<">
									</div>
									<div class="info">
										<h2 class="title" title="Ga Pacific Center">{{item.title}}</h2>
										<div class="address-row">
											<div class="cell">
												<address class="address">{{item.addressRow1}}<br class="hidden-xs">{{item.addressRow2}}</address>
											</div>
											<div class="cell">
												<button type="button" class="btn btn-brand-2">Apply for Monthly Parking</button>
											</div>
										</div>
										<a ng-href class="toggle-expander" ng-click="toggleAdditionalInfo(item);">
											<span class="more">View More</span>
											<span class="less">View Less</span>
										</a>
									</div>
								</div>
								
								<div ng-show="item.showAdditionalInfo" class="additional-info toggle">
									<div class="row">
										<div class="col-sm-6">
											<dl>
												<dt class="default-color">Operated by:</dt>
												<dd>{{item.operated}}</dd>
												<dt>Monthly Rate:</dt>
												<dd>{{item.mountlyRate}}</dd>
												<dt>Max Height:</dt>
												<dd>{{item.maxHeight}}</dd>
												<dt>Capacity:</dt>
												<dd>{{item.capacity}}</dd>
												<dt>Distance:</dt>
												<dd>{{item.distance}}</dd>
											</dl>
										</div>
										<div class="col-sm-6">
											<dl>
												<dt>Hours / Days: </dt>
												<dd>{{item.date}}</dd>
												<dt>Covered:</dt>
												<dd>
													<span ng-if="item.covered">Yes</span>
													<span ng-if="!item.covered" class="red">No</span>
												</dd>
												<dt>Overnight:</dt>
												<dd>
													<span ng-if="item.overnight">Yes</span>
													<span ng-if="!item.overnight" class="red">No</span>
												</dd>
											</dl>
											<a href="#" class="share-link">Save or Share Link <i class="fa fa-chevron-right"></i></a>
											<ul class="links">
												<li><a href="#">Reserve Daily Parking</a></li>
												<li><a href="#">Manage Parking</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		//= templates/footer.html

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8X7A75PR_wmTQ2WT_q72tnXiianWNTlA&libraries=places"></script>
<script src="js/app.js"></script>
</body>
</html>