<!doctype html>
<html class="no-js" lang="" ng-app="app" ng-controller="MainCtrl">

//= templates/head.html

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<div class="layout">

		//= templates/header.html
		<section class="hero big" style="background-image: url(images/search-hero.jpg);">
			<div class="cell">
				<div class="container-fluid">
					<h1 class="title">Find Parking</h1>

					<div class="autocomplate-search">
						<form class="inline-form">
							<div class="cell cell-input">
								<input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="place">
							</div>
							<div class="cell cell-btn">
								<button type="button" class="btn btn-brand-2">Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="search-promo">
			<div class="container-fluid">
				<ul class="crumbs">
					<li><a href="#">Home</a></li>
					<li>Find Parking</li>
				</ul>

				<div class="text-center">
					<h2 class="title brand-color-1-dark">Citizens Parking</h2>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					</div>

					<a class="btn btn-md btn-brand-1-light-transparent">Read more</a>
				</div>
			</div>
		</section>

		<section class="brands-promo">
			<div class="container-fluid">
				<div class="image">
					<img src="images/lanier-parking-w.png" alt="Lanier Parking">
				</div>
				<div class="image">
					<img src="images/ameripark-w.png" alt="AmeriPark">
				</div>
				<div class="image">
					<img src="images/icon-parking-w.png" alt="Icon Parking">
				</div>
				<div class="image">
					<img src="images/park1-w.png" alt="Pk1">
				</div>
				<div class="image">
					<img src="images/quikpark-w.png" alt="Quikpark">
				</div>
			</div>
		</section>

		//= templates/footer.html

</div>
	//= templates/foot.html
</body>
</html>